.loader{
    background-image: url("/imgs/loader.gif");
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    background-position: 0 -70px;
}
