@import "~style/colors";
$btn_color: #069ebd;

section {
.input_group {
    text-align: left;
    margin-left: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    .personalLabel {
        display: inline-block;
        min-width: 100px;
        text-align: left;
    }

    .personalField {
        padding: 0 5px;
        line-height: 30px;
        width: 100%;
    }
}

.edit_button_wrapper {
    float: right;
    padding: 5px 20px 0 20px;
    .locked_btn {
        background-color: #a9a9a900;
        color: $btn_color;
        cursor: default;
        &:before{
            content: '';
            background-image: url("/imgs/lock.svg");
            background-size: cover;
            width: 25px;
            height: 25px;
            display: inline-block;
        }
    }

}

}

