@import "~style/colors";

.progress-bar-container {
  width: 70%;
  height: 18px;
  border-radius: 10px;
  border: 1px solid $btn_bg_color;
  margin: auto;

  .bar {
    background: $ssl_font_color;
    height: 18px;
    position: absolute;
    border-radius: 10px;
    transition: 1s;

    &.step-0 {
      width: 16.75%;
      transition: 1s;
    }
    &.step-1 {
      width: 33.5%;
      transition: 1s;
    }
    &.step-2 {
      width: 50.25%;
    }
    &.step-3 {
      width: 67%;
    }
  }

}

.align {
  text-align: center;
  text-align: -webkit-center;
}
