.select-categories-container {
  display: flex;
}

.block-right {
  width: 400px;
  padding: 20px;
}

.block-left {
  width: 400px;
  padding: 20px;
}

.category-container {
  padding: 10px 0;
}

.multiselect {
  border-radius: 30px;
  font-size: 13px;
}