@import "src/style/colors";
@import "../../commonComponents/ModalForm/form.module";

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.only-left {
  justify-content: flex-start;
}

.only-right {
  justify-content: flex-end;
}

.bg {
  background-color: $btn_color;
  &:hover {
    background-color: $btn_color_text;
    color: $btn_color;
  }
}