
<div data-start="true">
<style>
	[data-start]{

	}
</style>

	<p>High-performance computing (HPC) evolved due to meet increasing demands for processing speed. HPC brings together several technologies such as computer architecture, algorithms, programs and electronics, and system software under a single canopy to solve advanced problems effectively and quickly. A highly efficient HPC system requires a high-bandwidth, low-latency network to connect multiple nodes and clusters.
	</p><p>HPC technology is implemented in multidisciplinary areas including:
</p><ul>
	<li>Biosciences</li>
	<li>Geographical data</li>
	<li>Oil and gas industry modeling</li>
	<li>Electronic design automation</li>
	<li>Climate modeling</li>
	<li>Media and entertainment</li>
</ul>

</div>
