<div data-start="true">
	<style>
		[data-start] a {
			color: #91ecff;
		}

		[data-start] td {
			padding: 5px 10px;
		}

		th:nth-child(1),td:nth-child(1) {
			width: 15%
		}

		th:nth-child(2),td:nth-child(2) {
			width: 75%;
			text-align: justify
		}


		td:nth-child(3), th:nth-child(3) {
			text-align: center
		}
	</style>

	<p>
		HPC on Chemistry Code removes the long wait times and lost productivity often associated with on-premises HPC clusters.
		Flexible configuration and virtually unlimited scalability allow you to grow and shrink your infrastructure as your workloads dictate, not the other way around.
	</p>
	<p>HPC technology pricing in chemistry field:</p>
	<table>
		<tr><th>Naming of Analysis</th><th>Description</th><th>Price,<br> (per 1 substance)</th> </tr>
		<tr>
			<td>Infrared (IR) spectroscopy</td>
			<td>
				The infrared spectrum of a sample is recorded by passing a beam of infrared light through the sample.
				When the frequency of the IR is the same as the vibrational frequency of a bond or collection of bonds, absorption occurs.
				Examination of the transmitted light reveals how much energy was absorbed at each frequency (or wavelength).
				<a href="https://en.wikipedia.org/wiki/Infrared_spectroscopy_correlation_table" title="Infrared spectroscopy correlation table">Infrared spectroscopy correlation table</a>
			</td>
			<td>1$</td>
		</tr>
		<tr>
			<td>Ultraviolet–visible (UV) spectroscopy</td>
			<td>
				UV/Vis spectroscopy is routinely used in analytical chemistry for the quantitative determination of different analytes,
				such as transition metal ions, highly conjugated organic compounds, and biological macromolecules.
				Spectroscopic analysis is commonly carried out in solutions but solids and gases may also be studied.
				<a href="				https://web.vscht.cz/~poustkaj/EN%20ASFA%20AU%20Kopl%C3%ADk%20UV_VIS_spectrometry.pdf" title="UV spectroscopy correlation table">UV spectroscopy correlation table</a>
			</td>
			<td>1.1$</td>
		</tr>
		<tr>
			<td>Nuclear magnetic resonance (NMR) spectroscopy</td>
			<td>
				is a spectroscopic technique to observe local magnetic fields around atomic nuclei.
				The sample is placed in a magnetic field and the NMR signal is produced by excitation of the nuclei sample with radio waves into nuclear magnetic resonance,
				which is detected with sensitive radio receivers.
				The intramolecular magnetic field around an atom in a molecule changes the resonance frequency, thus giving access to details of
				the electronic structure of a molecule and its individual functional groups. As the fields are unique or highly characteristic to individual compounds, in modern organic chemistry practice, NMR spectroscopy is the definitive method to identify monomolecular organic compounds. Similarly, biochemists use NMR to identify proteins and other complex molecules. Besides identification, NMR spectroscopy provides detailed information about the structure, dynamics, reaction state, and chemical environment of molecules. The most common types of NMR are proton and carbon-13 NMR spectroscopy, but it is applicable to any kind of sample that contains nuclei possessing spin.
			</td>
			<td>0.5$</td>
		</tr>
	</table>

</div>
