<style>
    [data-start] {
        text-indent: 20px;
    }
    [data-start] .video {
        float: left;
        margin: 0 10px;
    }
    [data-start] .chemslides{
        text-align: center;
    }
</style>
<div data-start="true">
    <p class="video">
        <iframe src="https://www.youtube.com/embed/IKBs3u2x528" allowfullscreen="allowfullscreen" id="_dytid_6400"
                width="560" height="315" frameborder="0"></iframe>
    </p>
    <p>
        In
        this video from DataTech19, Debbie Bard from NERSC presents: <em>Supercomputing and the scientist: How HPC
        and large-scale data analytics are transforming experimental science</em>.</p>
    <blockquote><p><strong>Debbie Bard</strong> leads the Data Science Engagement Group NERSC. NERSC is the mission
        supercomputing center for the USA Department of Energy, and supports over 7000 scientists and 700 projects
        with supercomputing needs. A native of the UK, her career spans research in particle physics, cosmology and
        computing on both sides of the Atlantic. She obtained her PhD at Edinburgh University, and has worked at
        Imperial College London as well as the Stanford Linear Accelerator Center (SLAC) in the USA, before joining
        the Data Department at NERSC, where she focuses on data-intensive computing and research, including
        supercomputing for experimental science and machine learning at scale.</p></blockquote>
    <p class="chemslides">
        <iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;"
                src="//www.slideshare.net/slideshow/embed_code/key/2Uv9pfK3qaXFpw" marginwidth="0" marginheight="0"
                scrolling="no" allowfullscreen="allowfullscreen" width="595" height="485" frameborder="0"></iframe>
    </p>
    <p>The newest event of the DataFest family, <a href="https://www.datafest.global/data-tech" target="_blank"
                                                   rel="noopener noreferrer">DataTech</a> aims to bring together
        members of industry, the public sector, and academia for technical presentations and discussions of
        important topics in data science, to share technical expertise, and engage in networking and collaboration.
        The conference also serves as a forum to share emerging research in data science. Together we can help make
        Scotland the global centre of data.</p>
    <cite>Used material of insidehpc.com </cite>

</div>
