@import '~style/colors';

table {
    width: 100%;
    line-height: 25px;

    tr:first-child {
        background-color: $table_row;
        line-height: 40px;
        font-weight: bold;
    }

    tr:nth-child(2n+2) {
        background-color: $table_secondary_row;
    }
    tr:nth-child(2n+3) {
        background-color: $table_row;
    }
    td .sent-files{
        cursor: pointer;
        text-decoration: none;
        color: white;
        &:hover {
            color: #069ebd;
        }
    }
}



