table {
    width: 100%;
    line-height: 25px;
    tr:first-child{
        background-color: #04dd70;
        line-height: 40px;
        font-weight: bold;
    }
    tr:nth-child(2n+2) {
        background-color: #cbeae08a;
    }
    tr:nth-child(2n+3) {
        background-color: #04dd98;
    }
}


