@import '../../style/colors';

.container {
  width: auto;
  height: auto;
  background-color: $btn_bg_color;
  border: none;
  outline: none;
  color: $btn_color_text;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Helvetica, serif;
  transition-duration: 0.4s;
  &:active{
    cursor: pointer;
    background-color: red;
    color: $btn_bg_color_active;
  }

  &:hover{
    cursor: pointer;
    background-color: $btn_color_text;
    color: $btn_bg_color;
  }
  &.small {
    padding: 10px 24px
  }
}



