//white
$font_color: #fff;
$app_border_color: #fff;
$header_background_color: #fff;
$main_screen_font_color: #fff;
$link_font_color: #fff;
$btn_color_text: #e7f1f4;

//grey
$main_screen_bg_color: #80808099;
$btn_bg_color: #9a9a9a;
$btn_bg_color_active: #7C7C7C;

//green
$ssl_font_color: #04b87f;
$header_font_color: #04b87f;
$lang_hover_background: #04b87f;
$btn_color: #04b87f;
$btn_focus: #000000;
//$ownBlue: #067B93;

//blue
$menu_item_font_color: #07859f;
$nav_menu_font_color: #07859f;
$lang_hover_border: #07859f;
$btn_secondary_color:#069ebd;
$open_editor_btn:#4ad7a2;
$upload_file_btn:#4acad7;
$already_uploaded_btn:#4ab6d7;
$personal_field:#4ad7a2;
//transparent_blue
$rotator_place_background: #067b93d9;
$footer_background: #067b93d9;
