//white
$font_color: #fff;
$app_border_color: #fff;
$header_background_color: #fff;
$main_screen_font_color: #fff;

//green
$ssl_font_color: #04b87f;
$header_font_color: #04b87f;
$lang_hover_background: #04b87f;
//$ownBlue: #067B93;

//blue
$menu_item_font_color: #07859f;
$link_font_color: #07859f;
$nav_menu_font_color: #07859f;
$lang_hover_border: #07859f;

//transparent_blue
$rotator_place_background: #067b93d9;
$footer_background: #067b93d9;
