@import '~style/colors';

.title {
    text-align: center;
    font-size: 22px;
    padding: 20px 0 20px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    .collection-container {
        width: 200px;
        height: 55px;
        overflow: hidden;
    }

    .open-editor-btn {
        background-color: $open_editor_btn;

        &:hover {
            background-color: $btn_color_text;
            color: $open_editor_btn;
        }
    }

    .upload-file-btn {
        background-color: $upload_file_btn;

        &:hover {
            background-color: $btn_color_text;
            color: $upload_file_btn;
        }
    }

    .already-uploaded-btn {
        background-color: $already_uploaded_btn;

        &:hover {
            background-color: $btn_color_text;
            color: $already_uploaded_btn;
        }
    }

    .multiselect {
        border-radius: 30px;
        font-size: 13px;
        max-width: 200px;
        padding: 19px 24px;

        &.active {
            background: $btn_color;

            &:hover {
                background-color: $btn_color_text;
                color: $btn_color;
            }
        }

        &.file-items {
            background-color: $btn_color_text;
            color: $btn_bg_color;
            font-size: 11px;
            padding: 5px 5px;
            position: relative;
            cursor: pointer;
            margin: 2px;

            &:after{
                content: "";
                background-image: url("/imgs/cancel.svg");
                background-size: contain;
                width: 10px;
                height: 10px;
                padding-left: 1px;
                position: absolute;
                top: -2px;
                font-size: 10px;
                display: inline-block;
                background-repeat: no-repeat;
                right: 0px;
            }
        }
    }
}


.input-file {
    display: none;
}

.wrapper {
    padding: 20px 0;
}
